In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as pxgo 
from plotly.subplots import make_subplots

# Dataset Import

In [2]:
teams_df = pd.read_csv('./dataset/teams.csv')
games_df = pd.read_csv('./dataset/games.csv')
games_details_df = pd.read_csv('./dataset/games_details.csv')
players_df = pd.read_csv('./dataset/players.csv')
ranking_df = pd.read_csv('./dataset/ranking.csv')

/tmp/ipykernel_3015/2875637720.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  games_details_df = pd.read_csv('./dataset/games_details.csv')

# Dataset analysis

## Teams Dataset

NaN values in arena capacity --> set with 0

In [3]:
teams_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   LEAGUE_ID           30 non-null     int64
 1   TEAM_ID             30 non-null     int64
 2   MIN_YEAR            30 non-null     int64
 3   MAX_YEAR            30 non-null     int64
 4   ABBREVIATION        30 non-null     object
 5   NICKNAME            30 non-null     object
 6   YEARFOUNDED         30 non-null     int64
 7   CITY                30 non-null     object
 8   ARENA               30 non-null     object
 9   ARENACAPACITY       26 non-null     float64
 10  OWNER               30 non-null     object
 11  GENERALMANAGER      30 non-null     object
 12  HEADCOACH           30 non-null     object
 13  DLEAGUEAFFILIATION  30 non-null     object
dtypes: float64(1), int64(5), object(8)
memory usage: 3.4+ KB

In [4]:
teams_df.describe().T

,count,mean,std,min,25%,50%,75%,max
LEAGUE_ID,30.0,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
TEAM_ID,30.0,1.610613e+09,8.803408,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09
MIN_YEAR,30.0,1.969700e+03,16.698441,1.946000e+03,1.952000e+03,1.970000e+03,1.979000e+03,2.002000e+03
MAX_YEAR,30.0,2.019000e+03,0.000000,2.019000e+03,2.019000e+03,2.019000e+03,2.019000e+03,2.019000e+03
YEARFOUNDED,30.0,1.969700e+03,16.698441,1.946000e+03,1.952000e+03,1.970000e+03,1.979000e+03,2.002000e+03
ARENACAPACITY,26.0,1.855331e+04,3916.923362,0.000000e+00,1.864150e+04,1.913100e+04,1.979075e+04,2.171100e+04

In [5]:
teams_df.head(10)

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends
5,0,1610612743,1976,2019,DEN,Nuggets,1976,Denver,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
6,0,1610612745,1967,2019,HOU,Rockets,1967,Houston,Toyota Center,18104.0,Tilman Fertitta,Daryl Morey,Mike D'Antoni,Rio Grande Valley Vipers
7,0,1610612746,1970,2019,LAC,Clippers,1970,Los Angeles,Staples Center,19060.0,Steve Ballmer,Michael Winger,Doc Rivers,Agua Caliente Clippers of Ontario
8,0,1610612747,1948,2019,LAL,Lakers,1948,Los Angeles,Staples Center,19060.0,Jerry Buss Family Trust,Rob Pelinka,Frank Vogel,South Bay Lakers
9,0,1610612748,1988,2019,MIA,Heat,1988,Miami,AmericanAirlines Arena,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce

In [6]:
teams_df['ARENACAPACITY'].fillna(0, inplace=True)

In [7]:
teams_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   LEAGUE_ID           30 non-null     int64
 1   TEAM_ID             30 non-null     int64
 2   MIN_YEAR            30 non-null     int64
 3   MAX_YEAR            30 non-null     int64
 4   ABBREVIATION        30 non-null     object
 5   NICKNAME            30 non-null     object
 6   YEARFOUNDED         30 non-null     int64
 7   CITY                30 non-null     object
 8   ARENA               30 non-null     object
 9   ARENACAPACITY       30 non-null     float64
 10  OWNER               30 non-null     object
 11  GENERALMANAGER      30 non-null     object
 12  HEADCOACH           30 non-null     object
 13  DLEAGUEAFFILIATION  30 non-null     object
dtypes: float64(1), int64(5), object(8)
memory usage: 3.4+ KB

## Games Dataset

NaN values --> dropped from main dataset and saved in ```match_NaN_values```

In [8]:
games_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25796 entries, 0 to 25795
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE_EST     25796 non-null  object
 1   GAME_ID           25796 non-null  int64
 2   GAME_STATUS_TEXT  25796 non-null  object
 3   HOME_TEAM_ID      25796 non-null  int64
 4   VISITOR_TEAM_ID   25796 non-null  int64
 5   SEASON            25796 non-null  int64
 6   TEAM_ID_home      25796 non-null  int64
 7   PTS_home          25697 non-null  float64
 8   FG_PCT_home       25697 non-null  float64
 9   FT_PCT_home       25697 non-null  float64
 10  FG3_PCT_home      25697 non-null  float64
 11  AST_home          25697 non-null  float64
 12  REB_home          25697 non-null  float64
 13  TEAM_ID_away      25796 non-null  int64
 14  PTS_away          25697 non-null  float64
 15  FG_PCT_away       25697 non-null  float64
 16  FT_PCT_away       25697 non-null  float64
 17  FG3_PCT_away      25697 non-null  float64
 18  AST_away          25697 non-null  float64
 19  REB_away          25697 non-null  float64
 20  HOME_TEAM_WINS    25796 non-null  int64
dtypes: float64(12), int64(7), object(2)
memory usage: 4.1+ MB

In [9]:
games_df.describe().T

,count,mean,std,min,25%,50%,75%,max
GAME_ID,25796.0,2.169208e+07,5.496041e+06,1.030000e+07,2.060109e+07,2.120040e+07,2.170070e+07,5.200021e+07
HOME_TEAM_ID,25796.0,1.610613e+09,8.638857e+00,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09
VISITOR_TEAM_ID,25796.0,1.610613e+09,8.654846e+00,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09
SEASON,25796.0,2.011798e+03,5.397985e+00,2.003000e+03,2.007000e+03,2.012000e+03,2.016000e+03,2.021000e+03
TEAM_ID_home,25796.0,1.610613e+09,8.638857e+00,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09
PTS_home,25697.0,1.031060e+02,1.317473e+01,3.600000e+01,9.400000e+01,1.030000e+02,1.120000e+02,1.680000e+02
FG_PCT_home,25697.0,4.603128e-01,5.662854e-02,2.500000e-01,4.210000e-01,4.590000e-01,5.000000e-01,6.840000e-01
FT_PCT_home,25697.0,7.597049e-01,1.006920e-01,1.430000e-01,6.960000e-01,7.650000e-01,8.290000e-01,1.000000e+00
FG3_PCT_home,25697.0,3.558964e-01,1.119400e-01,0.000000e+00,2.860000e-01,3.550000e-01,4.290000e-01,1.000000e+00
AST_home,25697.0,2.273678e+01,5.177566e+00,6.000000e+00,1.900000e+01,2.300000e+01,2.600000e+01,5.000000e+01
REB_home,25697.0,4.334580e+01,6.621832e+00,1.500000e+01,3.900000e+01,4.300000e+01,4.800000e+01,7.200000e+01
TEAM_ID_away,25796.0,1.610613e+09,8.654846e+00,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09
PTS_away,25697.0,1.002941e+02,1.334302e+01,3.300000e+01,9.100000e+01,1.000000e+02,1.090000e+02,1.680000e+02
FG_PCT_away,25697.0,4.492652e-01,5.552800e-02,2.440000e-01,4.120000e-01,4.480000e-01,4.870000e-01,6.870000e-01
FT_PCT_away,25697.0,7.580819e-01,1.034176e-01,1.430000e-01,6.920000e-01,7.650000e-01,8.330000e-01,1.000000e+00
FG3_PCT_away,25697.0,3.494131e-01,1.101939e-01,0.000000e+00,2.780000e-01,3.500000e-01,4.200000e-01,1.000000e+00
AST_away,25697.0,2.140390e+01,5.140897e+00,4.000000e+00,1.800000e+01,2.100000e+01,2.500000e+01,4.600000e+01
REB_away,25697.0,4.208515e+01,6.526951e+00,1.900000e+01,3.800000e+01,4.200000e+01,4.600000e+01,8.100000e+01
HOME_TEAM_WINS,25796.0,5.874942e-01,4.922948e-01,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [10]:
games_df.head(10)

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-03-12,22101005,Final,1610612748,1610612750,2021,1610612748,104.0,0.398,0.760,...,23.0,53.0,1610612750,113.0,0.422,0.875,0.357,21.0,46.0,0
1,2022-03-12,22101006,Final,1610612741,1610612739,2021,1610612741,101.0,0.443,0.933,...,20.0,46.0,1610612739,91.0,0.419,0.824,0.208,19.0,40.0,1
2,2022-03-12,22101007,Final,1610612759,1610612754,2021,1610612759,108.0,0.412,0.813,...,28.0,52.0,1610612754,119.0,0.489,1.000,0.389,23.0,47.0,0
3,2022-03-12,22101008,Final,1610612744,1610612749,2021,1610612744,122.0,0.484,0.933,...,33.0,55.0,1610612749,109.0,0.413,0.696,0.386,27.0,39.0,1
4,2022-03-12,22101009,Final,1610612743,1610612761,2021,1610612743,115.0,0.551,0.750,...,32.0,39.0,1610612761,127.0,0.471,0.760,0.387,28.0,50.0,0
5,2022-03-12,22101010,Final,1610612762,1610612758,2021,1610612762,134.0,0.558,0.710,...,21.0,44.0,1610612758,125.0,0.500,0.857,0.394,27.0,33.0,1
6,2022-03-12,22101011,Final,1610612757,1610612764,2021,1610612757,127.0,0.516,0.909,...,21.0,43.0,1610612764,118.0,0.470,0.963,0.412,26.0,35.0,1
7,2022-03-11,22100995,Final,1610612753,1610612750,2021,1610612753,118.0,0.465,0.880,...,31.0,49.0,1610612750,110.0,0.456,1.000,0.333,24.0,37.0,1
8,2022-03-11,22100996,Final,1610612737,1610612746,2021,1610612737,112.0,0.478,0.895,...,28.0,47.0,1610612746,106.0,0.488,0.824,0.375,22.0,36.0,1
9,2022-03-11,22100997,Final,1610612738,1610612765,2021,1610612738,114.0,0.467,0.800,...,23.0,47.0,1610612765,103.0,0.422,0.958,0.294,21.0,42.0,1

In [11]:
# Get rows which contains NaN values
games_df.isna().any(axis=1)

0        False
1        False
2        False
3        False
4        False
         ...
25791    False
25792    False
25793    False
25794    False
25795    False
Length: 25796, dtype: bool

In [12]:
# Dataframe which contains matches with NaN values
match_NaN_values = games_df[games_df.isna().any(axis=1)]

In [13]:
games_df.dropna(inplace=True)

In [14]:
games_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25697 entries, 0 to 25795
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_DATE_EST     25697 non-null  object
 1   GAME_ID           25697 non-null  int64
 2   GAME_STATUS_TEXT  25697 non-null  object
 3   HOME_TEAM_ID      25697 non-null  int64
 4   VISITOR_TEAM_ID   25697 non-null  int64
 5   SEASON            25697 non-null  int64
 6   TEAM_ID_home      25697 non-null  int64
 7   PTS_home          25697 non-null  float64
 8   FG_PCT_home       25697 non-null  float64
 9   FT_PCT_home       25697 non-null  float64
 10  FG3_PCT_home      25697 non-null  float64
 11  AST_home          25697 non-null  float64
 12  REB_home          25697 non-null  float64
 13  TEAM_ID_away      25697 non-null  int64
 14  PTS_away          25697 non-null  float64
 15  FG_PCT_away       25697 non-null  float64
 16  FT_PCT_away       25697 non-null  float64
 17  FG3_PCT_away      25697 non-null  float64
 18  AST_away          25697 non-null  float64
 19  REB_away          25697 non-null  float64
 20  HOME_TEAM_WINS    25697 non-null  int64
dtypes: float64(12), int64(7), object(2)
memory usage: 4.3+ MB

## Ranking Dataset

In [15]:
ranking_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201792 entries, 0 to 201791
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TEAM_ID        201792 non-null  int64
 1   LEAGUE_ID      201792 non-null  int64
 2   SEASON_ID      201792 non-null  int64
 3   STANDINGSDATE  201792 non-null  object
 4   CONFERENCE     201792 non-null  object
 5   TEAM           201792 non-null  object
 6   G              201792 non-null  int64
 7   W              201792 non-null  int64
 8   L              201792 non-null  int64
 9   W_PCT          201792 non-null  float64
 10  HOME_RECORD    201792 non-null  object
 11  ROAD_RECORD    201792 non-null  object
 12  RETURNTOPLAY   3990 non-null    float64
dtypes: float64(2), int64(6), object(5)
memory usage: 20.0+ MB

In [16]:
ranking_df.describe().T

,count,mean,std,min,25%,50%,75%,max
TEAM_ID,201792.0,1.610613e+09,8.640908,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09
LEAGUE_ID,201792.0,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
SEASON_ID,201792.0,2.140154e+04,2393.667432,1.200300e+04,2.200600e+04,2.201100e+04,2.201600e+04,2.202100e+04
G,201792.0,5.647545e+01,28.505551,0.000000e+00,3.300000e+01,6.600000e+01,8.200000e+01,8.200000e+01
W,201792.0,2.824128e+01,17.214043,0.000000e+00,1.400000e+01,2.800000e+01,4.200000e+01,7.300000e+01
L,201792.0,2.823418e+01,17.205158,0.000000e+00,1.400000e+01,2.800000e+01,4.100000e+01,7.200000e+01
W_PCT,201792.0,4.927449e-01,0.187940,0.000000e+00,3.710000e-01,5.000000e-01,6.210000e-01,1.000000e+00
RETURNTOPLAY,3990.0,6.000000e-01,0.489959,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [17]:
ranking_df.head(10)

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
0,1610612756,0,22021,2022-03-12,West,Phoenix,67,53,14,0.791,28-8,25-6,NaN
1,1610612744,0,22021,2022-03-12,West,Golden State,68,46,22,0.676,28-7,18-15,NaN
2,1610612763,0,22021,2022-03-12,West,Memphis,68,46,22,0.676,24-10,22-12,NaN
3,1610612762,0,22021,2022-03-12,West,Utah,67,42,25,0.627,24-10,18-15,NaN
4,1610612742,0,22021,2022-03-12,West,Dallas,67,41,26,0.612,23-12,18-14,NaN
5,1610612743,0,22021,2022-03-12,West,Denver,68,40,28,0.588,20-13,20-15,NaN
6,1610612750,0,22021,2022-03-12,West,Minnesota,69,39,30,0.565,22-12,17-18,NaN
7,1610612746,0,22021,2022-03-12,West,LA Clippers,69,35,34,0.507,20-14,15-20,NaN
8,1610612747,0,22021,2022-03-12,West,L.A. Lakers,66,29,37,0.439,20-16,9-21,NaN
9,1610612740,0,22021,2022-03-12,West,New Orleans,67,27,40,0.403,15-19,12-21,NaN

In [18]:
ranking_df.tail(10)

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
201782,1610612764,0,22013,2014-09-01,East,Washington,82,44,38,0.537,22-19,22-19,NaN
201783,1610612766,0,22013,2014-09-01,East,Charlotte,82,43,39,0.524,25-16,18-23,NaN
201784,1610612737,0,22013,2014-09-01,East,Atlanta,82,38,44,0.463,24-17,14-27,NaN
201785,1610612752,0,22013,2014-09-01,East,New York,82,37,45,0.451,19-22,18-23,NaN
201786,1610612739,0,22013,2014-09-01,East,Cleveland,82,33,49,0.402,19-22,14-27,NaN
201787,1610612765,0,22013,2014-09-01,East,Detroit,82,29,53,0.354,17-24,12-29,NaN
201788,1610612738,0,22013,2014-09-01,East,Boston,82,25,57,0.305,16-25,9-32,NaN
201789,1610612753,0,22013,2014-09-01,East,Orlando,82,23,59,0.280,19-22,4-37,NaN
201790,1610612755,0,22013,2014-09-01,East,Philadelphia,82,19,63,0.232,10-31,9-32,NaN
201791,1610612749,0,22013,2014-09-01,East,Milwaukee,82,15,67,0.183,10-31,5-36,NaN

## Games Detail Dataset

In [19]:
games_details_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 645953 entries, 0 to 645952
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_ID            645953 non-null  int64
 1   TEAM_ID            645953 non-null  int64
 2   TEAM_ABBREVIATION  645953 non-null  object
 3   TEAM_CITY          645953 non-null  object
 4   PLAYER_ID          645953 non-null  int64
 5   PLAYER_NAME        645953 non-null  object
 6   NICKNAME           30362 non-null   object
 7   START_POSITION     247215 non-null  object
 8   COMMENT            105602 non-null  object
 9   MIN                540350 non-null  object
 10  FGM                540350 non-null  float64
 11  FGA                540350 non-null  float64
 12  FG_PCT             540350 non-null  float64
 13  FG3M               540350 non-null  float64
 14  FG3A               540350 non-null  float64
 15  FG3_PCT            540350 non-null  float64
 16  FTM                540350 non-null  float64
 17  FTA                540350 non-null  float64
 18  FT_PCT             540350 non-null  float64
 19  OREB               540350 non-null  float64
 20  DREB               540350 non-null  float64
 21  REB                540350 non-null  float64
 22  AST                540350 non-null  float64
 23  STL                540350 non-null  float64
 24  BLK                540350 non-null  float64
 25  TO                 540350 non-null  float64
 26  PF                 540350 non-null  float64
 27  PTS                540350 non-null  float64
 28  PLUS_MINUS         516689 non-null  float64
dtypes: float64(19), int64(3), object(7)
memory usage: 142.9+ MB

In [20]:
games_details_df.describe().T

,count,mean,std,min,25%,50%,75%,max
GAME_ID,645953.0,2.165952e+07,5.569116e+06,1.030000e+07,2.060113e+07,2.120062e+07,2.170079e+07,5.200021e+07
TEAM_ID,645953.0,1.610613e+09,8.650314e+00,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09
PLAYER_ID,645953.0,3.716935e+05,7.348620e+06,1.500000e+01,2.435000e+03,2.011560e+05,2.031240e+05,1.962938e+09
FGM,540350.0,3.582408e+00,3.023962e+00,0.000000e+00,1.000000e+00,3.000000e+00,5.000000e+00,2.800000e+01
FGA,540350.0,7.891298e+00,5.665752e+00,0.000000e+00,3.000000e+00,7.000000e+00,1.100000e+01,5.000000e+01
FG_PCT,540350.0,4.162029e-01,2.516336e-01,0.000000e+00,2.630000e-01,4.290000e-01,5.710000e-01,1.000000e+00
FG3M,540350.0,7.657315e-01,1.216917e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.400000e+01
FG3A,540350.0,2.151618e+00,2.547737e+00,0.000000e+00,0.000000e+00,1.000000e+00,4.000000e+00,2.400000e+01
FG3_PCT,540350.0,1.991665e-01,2.894474e-01,0.000000e+00,0.000000e+00,0.000000e+00,3.750000e-01,1.000000e+00
FTM,540350.0,1.734931e+00,2.353475e+00,0.000000e+00,0.000000e+00,1.000000e+00,3.000000e+00,2.600000e+01
FTA,540350.0,2.288537e+00,2.887957e+00,0.000000e+00,0.000000e+00,2.000000e+00,4.000000e+00,3.900000e+01
FT_PCT,540350.0,4.360996e-01,4.279468e-01,0.000000e+00,0.000000e+00,5.000000e-01,9.090000e-01,1.000000e+00
OREB,540350.0,1.026770e+00,1.400243e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,1.800000e+01
DREB,540350.0,3.032875e+00,2.687996e+00,0.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,2.500000e+01
REB,540350.0,4.059645e+00,3.486507e+00,0.000000e+00,1.000000e+00,3.000000e+00,6.000000e+00,3.100000e+01
AST,540350.0,2.097692e+00,2.473238e+00,0.000000e+00,0.000000e+00,1.000000e+00,3.000000e+00,2.500000e+01
STL,540350.0,7.225409e-01,9.735732e-01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+01
BLK,540350.0,4.613769e-01,8.635255e-01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.200000e+01
TO,540350.0,1.321897e+00,1.402182e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.000000e+00,1.200000e+01
PF,540350.0,2.003018e+00,1.503081e+00,0.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00,1.500000e+01
PTS,540350.0,9.665469e+00,8.056629e+00,0.000000e+00,3.000000e+00,8.000000e+00,1.400000e+01,8.100000e+01
PLUS_MINUS,516689.0,-5.051395e-04,1.064019e+01,-5.700000e+01,-7.000000e+00,0.000000e+00,6.000000e+00,5.700000e+01

In [21]:
games_details_df.isnull().any(axis=1)

0         True
1         True
2         True
3         True
4         True
          ...
645948    True
645949    True
645950    True
645951    True
645952    True
Length: 645953, dtype: bool

In [22]:
games_details_dropped_data = games_details_df[games_details_df.isnull().any(axis=1)]

In [23]:
games_details_df.dropna(subset=['MIN'],inplace=True)

In [24]:
games_details_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 540350 entries, 0 to 645952
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_ID            540350 non-null  int64
 1   TEAM_ID            540350 non-null  int64
 2   TEAM_ABBREVIATION  540350 non-null  object
 3   TEAM_CITY          540350 non-null  object
 4   PLAYER_ID          540350 non-null  int64
 5   PLAYER_NAME        540350 non-null  object
 6   NICKNAME           24808 non-null   object
 7   START_POSITION     247215 non-null  object
 8   COMMENT            0 non-null       object
 9   MIN                540350 non-null  object
 10  FGM                540350 non-null  float64
 11  FGA                540350 non-null  float64
 12  FG_PCT             540350 non-null  float64
 13  FG3M               540350 non-null  float64
 14  FG3A               540350 non-null  float64
 15  FG3_PCT            540350 non-null  float64
 16  FTM                540350 non-null  float64
 17  FTA                540350 non-null  float64
 18  FT_PCT             540350 non-null  float64
 19  OREB               540350 non-null  float64
 20  DREB               540350 non-null  float64
 21  REB                540350 non-null  float64
 22  AST                540350 non-null  float64
 23  STL                540350 non-null  float64
 24  BLK                540350 non-null  float64
 25  TO                 540350 non-null  float64
 26  PF                 540350 non-null  float64
 27  PTS                540350 non-null  float64
 28  PLUS_MINUS         516689 non-null  float64
dtypes: float64(19), int64(3), object(7)
memory usage: 123.7+ MB

In [25]:
games_details_df['NICKNAME'].fillna('N/A', inplace=True)
games_details_df['START_POSITION'].fillna('N/A', inplace=True)
games_details_df['COMMENT'].fillna('N/A', inplace=True)

In [26]:
games_details_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 540350 entries, 0 to 645952
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_ID            540350 non-null  int64
 1   TEAM_ID            540350 non-null  int64
 2   TEAM_ABBREVIATION  540350 non-null  object
 3   TEAM_CITY          540350 non-null  object
 4   PLAYER_ID          540350 non-null  int64
 5   PLAYER_NAME        540350 non-null  object
 6   NICKNAME           540350 non-null  object
 7   START_POSITION     540350 non-null  object
 8   COMMENT            540350 non-null  object
 9   MIN                540350 non-null  object
 10  FGM                540350 non-null  float64
 11  FGA                540350 non-null  float64
 12  FG_PCT             540350 non-null  float64
 13  FG3M               540350 non-null  float64
 14  FG3A               540350 non-null  float64
 15  FG3_PCT            540350 non-null  float64
 16  FTM                540350 non-null  float64
 17  FTA                540350 non-null  float64
 18  FT_PCT             540350 non-null  float64
 19  OREB               540350 non-null  float64
 20  DREB               540350 non-null  float64
 21  REB                540350 non-null  float64
 22  AST                540350 non-null  float64
 23  STL                540350 non-null  float64
 24  BLK                540350 non-null  float64
 25  TO                 540350 non-null  float64
 26  PF                 540350 non-null  float64
 27  PTS                540350 non-null  float64
 28  PLUS_MINUS         516689 non-null  float64
dtypes: float64(19), int64(3), object(7)
memory usage: 123.7+ MB

In [27]:
games_details_df_no_plusminus = games_details_df[games_details_df.isnull().any(axis=1)]

In [28]:
games_details_df.dropna(subset=['PLUS_MINUS'], inplace=True)

In [29]:
games_details_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 516689 entries, 0 to 643293
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_ID            516689 non-null  int64
 1   TEAM_ID            516689 non-null  int64
 2   TEAM_ABBREVIATION  516689 non-null  object
 3   TEAM_CITY          516689 non-null  object
 4   PLAYER_ID          516689 non-null  int64
 5   PLAYER_NAME        516689 non-null  object
 6   NICKNAME           516689 non-null  object
 7   START_POSITION     516689 non-null  object
 8   COMMENT            516689 non-null  object
 9   MIN                516689 non-null  object
 10  FGM                516689 non-null  float64
 11  FGA                516689 non-null  float64
 12  FG_PCT             516689 non-null  float64
 13  FG3M               516689 non-null  float64
 14  FG3A               516689 non-null  float64
 15  FG3_PCT            516689 non-null  float64
 16  FTM                516689 non-null  float64
 17  FTA                516689 non-null  float64
 18  FT_PCT             516689 non-null  float64
 19  OREB               516689 non-null  float64
 20  DREB               516689 non-null  float64
 21  REB                516689 non-null  float64
 22  AST                516689 non-null  float64
 23  STL                516689 non-null  float64
 24  BLK                516689 non-null  float64
 25  TO                 516689 non-null  float64
 26  PF                 516689 non-null  float64
 27  PTS                516689 non-null  float64
 28  PLUS_MINUS         516689 non-null  float64
dtypes: float64(19), int64(3), object(7)
memory usage: 118.3+ MB

## Players Dataset

In [30]:
players_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7228 entries, 0 to 7227
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PLAYER_NAME  7228 non-null   object
 1   TEAM_ID      7228 non-null   int64
 2   PLAYER_ID    7228 non-null   int64
 3   SEASON       7228 non-null   int64
dtypes: int64(3), object(1)
memory usage: 226.0+ KB

In [31]:
players_df.describe().T

,count,mean,std,min,25%,50%,75%,max
TEAM_ID,7228.0,1.610613e+09,8.723521e+00,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09,1.610613e+09
PLAYER_ID,7228.0,2.355862e+06,6.106688e+07,2.440000e+02,2.007680e+05,2.023465e+05,2.039100e+05,1.962938e+09
SEASON,7228.0,2.014160e+03,3.126216e+00,2.009000e+03,2.012000e+03,2.014000e+03,2.017000e+03,2.019000e+03

In [32]:
players_df.head(10)

        PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
0     Royce O'Neale  1610612762    1626220    2019
1  Bojan Bogdanovic  1610612762     202711    2019
2       Rudy Gobert  1610612762     203497    2019
3  Donovan Mitchell  1610612762    1628378    2019
4       Mike Conley  1610612762     201144    2019
5        Joe Ingles  1610612762     204060    2019
6          Ed Davis  1610612762     202334    2019
7        Jeff Green  1610612762     201145    2019
8        Dante Exum  1610612762     203957    2019
9   Emmanuel Mudiay  1610612762    1626144    2019

# Data merge

In [33]:
games_full_df = pd.merge(games_details_df, games_df[['SEASON','GAME_ID']], how='inner', left_on='GAME_ID', right_on='GAME_ID')

In [34]:
games_full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517429 entries, 0 to 517428
Data columns (total 30 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_ID            517429 non-null  int64
 1   TEAM_ID            517429 non-null  int64
 2   TEAM_ABBREVIATION  517429 non-null  object
 3   TEAM_CITY          517429 non-null  object
 4   PLAYER_ID          517429 non-null  int64
 5   PLAYER_NAME        517429 non-null  object
 6   NICKNAME           517429 non-null  object
 7   START_POSITION     517429 non-null  object
 8   COMMENT            517429 non-null  object
 9   MIN                517429 non-null  object
 10  FGM                517429 non-null  float64
 11  FGA                517429 non-null  float64
 12  FG_PCT             517429 non-null  float64
 13  FG3M               517429 non-null  float64
 14  FG3A               517429 non-null  float64
 15  FG3_PCT            517429 non-null  float64
 16  FTM                517429 non-null  float64
 17  FTA                517429 non-null  float64
 18  FT_PCT             517429 non-null  float64
 19  OREB               517429 non-null  float64
 20  DREB               517429 non-null  float64
 21  REB                517429 non-null  float64
 22  AST                517429 non-null  float64
 23  STL                517429 non-null  float64
 24  BLK                517429 non-null  float64
 25  TO                 517429 non-null  float64
 26  PF                 517429 non-null  float64
 27  PTS                517429 non-null  float64
 28  PLUS_MINUS         517429 non-null  float64
 29  SEASON             517429 non-null  int64
dtypes: float64(19), int64(4), object(7)
memory usage: 118.4+ MB

In [35]:
games_full_df.head(10)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,SEASON
0,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,Anthony,F,N/A,36:22,...,8.0,8.0,5.0,3.0,1.0,1.0,1.0,15.0,5.0,2021
1,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,Jaden,F,N/A,23:54,...,4.0,6.0,0.0,0.0,2.0,2.0,6.0,14.0,10.0,2021
2,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,Karl-Anthony,C,N/A,25:17,...,9.0,10.0,0.0,0.0,0.0,3.0,4.0,15.0,14.0,2021
3,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,Malik,G,N/A,30:52,...,3.0,3.0,1.0,1.0,0.0,1.0,4.0,12.0,20.0,2021
4,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,D'Angelo,G,N/A,33:46,...,6.0,6.0,9.0,1.0,0.0,5.0,0.0,14.0,17.0,2021
5,22101005,1610612750,MIN,Minnesota,1629675,Naz Reid,Naz,N/A,N/A,23:56,...,7.0,10.0,1.0,3.0,2.0,1.0,1.0,11.0,-7.0,2021
6,22101005,1610612750,MIN,Minnesota,1629162,Jordan McLaughlin,Jordan,N/A,N/A,21:00,...,1.0,1.0,3.0,3.0,0.0,0.0,1.0,5.0,-10.0,2021
7,22101005,1610612750,MIN,Minnesota,1629669,Jaylen Nowell,Jaylen,N/A,N/A,21:35,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,16.0,-5.0,2021
8,22101005,1610612750,MIN,Minnesota,1627752,Taurean Prince,Taurean,N/A,N/A,22:53,...,2.0,2.0,1.0,1.0,0.0,1.0,2.0,11.0,1.0,2021
9,22101005,1610612750,MIN,Minnesota,1629006,Josh Okogie,Josh,N/A,N/A,0:25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021

In [36]:
games_full_df.tail(10)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,SEASON
517419,21200001,1610612739,CLE,Cleveland,202087,Alonzo Gee,N/A,F,N/A,33:53,...,1.0,3.0,2.0,2.0,0.0,3.0,5.0,4.0,14.0,2012
517420,21200001,1610612739,CLE,Cleveland,202684,Tristan Thompson,N/A,F,N/A,31:31,...,7.0,10.0,5.0,1.0,0.0,2.0,2.0,12.0,20.0,2012
517421,21200001,1610612739,CLE,Cleveland,2760,Anderson Varejao,N/A,C,N/A,37:22,...,11.0,23.0,9.0,0.0,2.0,1.0,4.0,9.0,7.0,2012
517422,21200001,1610612739,CLE,Cleveland,203079,Dion Waiters,N/A,G,N/A,28:14,...,2.0,2.0,0.0,3.0,0.0,3.0,0.0,17.0,13.0,2012
517423,21200001,1610612739,CLE,Cleveland,202681,Kyrie Irving,N/A,G,N/A,34:34,...,6.0,6.0,3.0,0.0,1.0,4.0,4.0,29.0,23.0,2012
517424,21200001,1610612739,CLE,Cleveland,101139,CJ Miles,N/A,N/A,N/A,17:42,...,4.0,4.0,1.0,0.0,0.0,3.0,0.0,2.0,2.0,2012
517425,21200001,1610612739,CLE,Cleveland,203092,Tyler Zeller,N/A,N/A,N/A,14:53,...,2.0,2.0,0.0,1.0,1.0,0.0,2.0,5.0,4.0,2012
517426,21200001,1610612739,CLE,Cleveland,200789,Daniel Gibson,N/A,N/A,N/A,16:11,...,2.0,3.0,1.0,0.0,1.0,0.0,2.0,10.0,-9.0,2012
517427,21200001,1610612739,CLE,Cleveland,2575,Luke Walton,N/A,N/A,N/A,12:14,...,1.0,1.0,0.0,0.0,0.0,2.0,0.0,2.0,-11.0,2012
517428,21200001,1610612739,CLE,Cleveland,202388,Donald Sloan,N/A,N/A,N/A,13:26,...,0.0,0.0,1.0,0.0,0.0,2.0,2.0,4.0,-13.0,2012

In [37]:
games_full_df.rename(columns={'NICKNAME': 'PLAYER_NICKNAME'}, inplace=True)

In [38]:
games_full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517429 entries, 0 to 517428
Data columns (total 30 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_ID            517429 non-null  int64
 1   TEAM_ID            517429 non-null  int64
 2   TEAM_ABBREVIATION  517429 non-null  object
 3   TEAM_CITY          517429 non-null  object
 4   PLAYER_ID          517429 non-null  int64
 5   PLAYER_NAME        517429 non-null  object
 6   PLAYER_NICKNAME    517429 non-null  object
 7   START_POSITION     517429 non-null  object
 8   COMMENT            517429 non-null  object
 9   MIN                517429 non-null  object
 10  FGM                517429 non-null  float64
 11  FGA                517429 non-null  float64
 12  FG_PCT             517429 non-null  float64
 13  FG3M               517429 non-null  float64
 14  FG3A               517429 non-null  float64
 15  FG3_PCT            517429 non-null  float64
 16  FTM                517429 non-null  float64
 17  FTA                517429 non-null  float64
 18  FT_PCT             517429 non-null  float64
 19  OREB               517429 non-null  float64
 20  DREB               517429 non-null  float64
 21  REB                517429 non-null  float64
 22  AST                517429 non-null  float64
 23  STL                517429 non-null  float64
 24  BLK                517429 non-null  float64
 25  TO                 517429 non-null  float64
 26  PF                 517429 non-null  float64
 27  PTS                517429 non-null  float64
 28  PLUS_MINUS         517429 non-null  float64
 29  SEASON             517429 non-null  int64
dtypes: float64(19), int64(4), object(7)
memory usage: 118.4+ MB

In [39]:
games_full_df = pd.merge(games_full_df, teams_df[['TEAM_ID', 'NICKNAME']], how='inner', left_on='TEAM_ID', right_on='TEAM_ID')

In [40]:
games_full_df.rename(columns={'NICKNAME': 'TEAM'}, inplace=True)

In [41]:
games_full_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517429 entries, 0 to 517428
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_ID            517429 non-null  int64
 1   TEAM_ID            517429 non-null  int64
 2   TEAM_ABBREVIATION  517429 non-null  object
 3   TEAM_CITY          517429 non-null  object
 4   PLAYER_ID          517429 non-null  int64
 5   PLAYER_NAME        517429 non-null  object
 6   PLAYER_NICKNAME    517429 non-null  object
 7   START_POSITION     517429 non-null  object
 8   COMMENT            517429 non-null  object
 9   MIN                517429 non-null  object
 10  FGM                517429 non-null  float64
 11  FGA                517429 non-null  float64
 12  FG_PCT             517429 non-null  float64
 13  FG3M               517429 non-null  float64
 14  FG3A               517429 non-null  float64
 15  FG3_PCT            517429 non-null  float64
 16  FTM                517429 non-null  float64
 17  FTA                517429 non-null  float64
 18  FT_PCT             517429 non-null  float64
 19  OREB               517429 non-null  float64
 20  DREB               517429 non-null  float64
 21  REB                517429 non-null  float64
 22  AST                517429 non-null  float64
 23  STL                517429 non-null  float64
 24  BLK                517429 non-null  float64
 25  TO                 517429 non-null  float64
 26  PF                 517429 non-null  float64
 27  PTS                517429 non-null  float64
 28  PLUS_MINUS         517429 non-null  float64
 29  SEASON             517429 non-null  int64
 30  TEAM               517429 non-null  object
dtypes: float64(19), int64(4), object(8)
memory usage: 122.4+ MB

# Data Visualization

### For each season, evaluate top players for pts, reb, assist and fg3

In [42]:
games_full_df.head(10)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,PLAYER_NICKNAME,START_POSITION,COMMENT,MIN,...,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,SEASON,TEAM
0,22101005,1610612750,MIN,Minnesota,1630162,Anthony Edwards,Anthony,F,N/A,36:22,...,8.0,5.0,3.0,1.0,1.0,1.0,15.0,5.0,2021,Timberwolves
1,22101005,1610612750,MIN,Minnesota,1630183,Jaden McDaniels,Jaden,F,N/A,23:54,...,6.0,0.0,0.0,2.0,2.0,6.0,14.0,10.0,2021,Timberwolves
2,22101005,1610612750,MIN,Minnesota,1626157,Karl-Anthony Towns,Karl-Anthony,C,N/A,25:17,...,10.0,0.0,0.0,0.0,3.0,4.0,15.0,14.0,2021,Timberwolves
3,22101005,1610612750,MIN,Minnesota,1627736,Malik Beasley,Malik,G,N/A,30:52,...,3.0,1.0,1.0,0.0,1.0,4.0,12.0,20.0,2021,Timberwolves
4,22101005,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,D'Angelo,G,N/A,33:46,...,6.0,9.0,1.0,0.0,5.0,0.0,14.0,17.0,2021,Timberwolves
5,22101005,1610612750,MIN,Minnesota,1629675,Naz Reid,Naz,N/A,N/A,23:56,...,10.0,1.0,3.0,2.0,1.0,1.0,11.0,-7.0,2021,Timberwolves
6,22101005,1610612750,MIN,Minnesota,1629162,Jordan McLaughlin,Jordan,N/A,N/A,21:00,...,1.0,3.0,3.0,0.0,0.0,1.0,5.0,-10.0,2021,Timberwolves
7,22101005,1610612750,MIN,Minnesota,1629669,Jaylen Nowell,Jaylen,N/A,N/A,21:35,...,0.0,1.0,0.0,0.0,0.0,0.0,16.0,-5.0,2021,Timberwolves
8,22101005,1610612750,MIN,Minnesota,1627752,Taurean Prince,Taurean,N/A,N/A,22:53,...,2.0,1.0,1.0,0.0,1.0,2.0,11.0,1.0,2021,Timberwolves
9,22101005,1610612750,MIN,Minnesota,1629006,Josh Okogie,Josh,N/A,N/A,0:25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021,Timberwolves

In [43]:
games_full_df['TEAM']

0         Timberwolves
1         Timberwolves
2         Timberwolves
3         Timberwolves
4         Timberwolves
              ...
517424         Thunder
517425         Thunder
517426         Thunder
517427         Thunder
517428         Thunder
Name: TEAM, Length: 517429, dtype: object

In [44]:
performances_by_season_sum = games_full_df.groupby(['SEASON', 'TEAM','PLAYER_NAME'])[['PTS','REB', 'AST']].sum()
performances_by_season_avg = games_full_df.groupby(['SEASON', 'TEAM', 'PLAYER_NAME'])[['PTS','REB', 'AST', 'FG3_PCT']].mean()

In [45]:
performances_by_season_sum.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 11222 entries, (2003, '76ers', 'Aaron McKie') to (2021, 'Wizards', 'Vernon Carey Jr.')
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PTS     11222 non-null  float64
 1   REB     11222 non-null  float64
 2   AST     11222 non-null  float64
dtypes: float64(3)
memory usage: 324.6+ KB

In [46]:
performances_by_season_sum.head(10)

                                 PTS    REB    AST
SEASON TEAM  PLAYER_NAME
2003   76ers Aaron McKie       689.0  253.0  195.0
             Allen Iverson    1266.0  178.0  324.0
             Amal McCaskill    113.0  133.0   20.0
             Derrick Coleman   271.0  192.0   46.0
             Eric Snow         844.0  281.0  563.0
             Glenn Robinson    698.0  189.0   57.0
             Greg Buckner      164.0  103.0   45.0
             John Salmons      443.0  196.0  134.0
             Kenny Thomas     1006.0  750.0  111.0
             Kyle Korver       330.0  111.0   40.0

In [47]:
performances_by_season_avg.head(10)

                                    PTS        REB       AST   FG3_PCT
SEASON TEAM  PLAYER_NAME
2003   76ers Aaron McKie       9.186667   3.373333  2.600000  0.351800
             Allen Iverson    26.375000   3.708333  6.750000  0.227979
             Amal McCaskill    1.915254   2.254237  0.338983  0.000000
             Derrick Coleman   7.970588   5.647059  1.352941  0.142147
             Eric Snow        10.292683   3.426829  6.865854  0.024390
             Glenn Robinson   16.619048   4.500000  1.357143  0.253548
             Greg Buckner      3.094340   1.943396  0.849057  0.077981
             John Salmons      5.753247   2.545455  1.740260  0.280286
             Kenny Thomas     13.594595  10.135135  1.500000  0.013514
             Kyle Korver       4.459459   1.500000  0.540541  0.273892

In [87]:
fig1 = make_subplots(rows=3, cols=2, row_titles=['# of Points','# of Rebounds', '# of Assists'], column_titles=['Summed data', 'Averaged Data'], row_heights=[20,20,30], column_widths=[20,20])

In [79]:
team ='76ers'
season = 2003
players_avg_df = performances_by_season_avg.loc[season, team]
players_sum_df = performances_by_season_sum.loc[season, team]

In [80]:
best_avg_pts_player = players_avg_df[players_avg_df['PTS'] == players_avg_df['PTS'].max()].index.values
best_avg_reb_player = players_avg_df[players_avg_df['REB'] == players_avg_df['REB'].max()].index.values
best_avg_ast_player = players_avg_df[players_avg_df['AST'] == players_avg_df['AST'].max()].index.values
best_avg_f3c_player = players_avg_df[players_avg_df['FG3_PCT'] == players_avg_df['FG3_PCT'].max()].index.values
best_sum_pts_player = players_sum_df[players_sum_df['PTS'] == players_sum_df['PTS'].max()].index.values
best_sum_reb_player = players_sum_df[players_sum_df['REB'] == players_sum_df['REB'].max()].index.values
best_sum_ast_player = players_sum_df[players_sum_df['AST'] == players_sum_df['AST'].max()].index.values

In [81]:
best_avg_pts_player[0]

'Allen Iverson'

In [88]:
fig1.add_trace(
    pxgo.Indicator(value=players_sum_df['PTS'].max(), title=best_sum_pts_player[0],domain={'row': 0, 'column': 0}),
)
fig1.add_trace(
    pxgo.Indicator(value=players_avg_df['PTS'].max(), title=best_avg_pts_player[0],domain={'row': 0, 'column': 1}),
)
fig1.add_trace(
    pxgo.Indicator(value=players_sum_df['REB'].max(), title=best_sum_reb_player[0],domain={'row': 1, 'column': 0}),
)
fig1.add_trace(
    pxgo.Indicator(value=players_avg_df['REB'].max(), title=best_avg_reb_player[0],domain={'row': 1, 'column': 1}),
)
fig1.add_trace(
    pxgo.Indicator(value=players_sum_df['AST'].max(), title=best_sum_ast_player[0],domain={'row': 2, 'column': 0}),
)
fig1.add_trace(
    pxgo.Indicator(value=players_avg_df['AST'].max(), title=best_avg_ast_player[0],domain={'row': 2, 'column': 1}),
)
fig1.update_layout(width=700, height=700, grid = {'rows': 2, 'columns': 2, 'pattern': "independent"})
fig1.show()